.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

table{
  border: 10px solid rgb(255, 255, 255);
  border-style: outset;

  }

form{
  width: 50%;
  margin:0 auto;
}